# Large model files
GoogleNews-vectors-negative300.bin
Homework2/checkpoint.pt

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Mac OS garbage
.DS_Store
Homework3/predictions.jsonl
